@import "./root.css";
@import "./header.css";
@import "./introducao.css";
@import "./experiencia.css";

/*========== 2 parte do site formação ============== */
.formacao {
  background-color: #141414;
  color: #fff;
}
.formacao-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  max-width: 1200px;
  padding: 120px 20px;
  gap: 100px;
  position: relative;
}
.formacao-texto {
  color: #000;
  max-width: 5ch;
  /* font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all; */
}
.formacao-subtexto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}
/* estilizar as ul e as li faculdade*/
.faculdade-lista {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  margin-bottom: 60px;
}
.faculdade {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #000;
  border-radius: 4px;
  padding: 20px;
  gap: 10px;
}
.faculdade-curso {
  position: relative;
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
}
.faculdade-tipo {
  color: rgba(174, 167, 156);
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 10px;
  display: block;
}

.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  position: absolute;
  background: linear-gradient(#b6f829, #67dd0a);
  left: -24px;
}
.faculdade-instituicao {
  color: rgba(174, 167, 156);
  font-size: 1.125rem;
}
/*=================== CURSOS E IDIOMAS DO SITE =========================*/
.formacao-extra {
  position: relative;
}
.cursos {
  margin-bottom: 60px;
}
.formacao-extra h3::before {
  content: "";
  display: block;
  position: absolute;
  background: url(./img/Group.png) no-repeat center;
  width: 24px;
  height: 24px;
  z-index: 1;
  left: -30px;
}
/* h3 {
  display: flex;
  align-items: center;
  color: #8f8f8f;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.4;
  position: relative;
} */
ul {
  list-style: none;
}
.cursos li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}
.formacao-extra span {
  color: #8f8f8f;
}
.idiomas h3::before {
  content: "";
  display: block;
  position: absolute;
  background: url(./img/Vector.png) no-repeat center;
  width: 24px;
  height: 24px;
  z-index: 1;
  left: -30px;
}
/*Detalhe no final da pagina.*/
.formacao-container::after {
  content: "";
  background-image: url(./img/deco.svg);
  width: 128px;
  height: 115px;
  position: absolute;
  bottom: -50px;
  left: 20px;
  display: block;
}
.formacao-container {
  position: relative;
}
/*===================footer da pagina=========================*/
.footer {
  background-color: #000;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
  align-items: center;
  padding: 120px 20px 60px 20px;
}
.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}
.footer-contato li {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}
.footer-texto2 {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}
