* {
  font-family: "Fira Sans", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  max-width: 1200px;
  padding: 40px 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.sub-menu {
  display: flex;
  gap: 10px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
.sub-menu a {
  text-decoration: none;
  line-height: 1.3;
  color: #141414;
  font-size: 1.125rem;
  padding: 10px 20px;
  display: block;
}
/*SEGUNDA PARTE DO SITE - CONTEÚDO*/
.container {
  /*controla o Grid do main*/
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 100px;
  align-items: center;
  padding: 40px 20px;
}
h1 {
  font-size: 4.5rem;
  line-break: 1.125;
  margin-bottom: 1.87rem;
  position: relative;
}
h1::before {
  content: "";
  display: block;
  position: absolute;
  background: url(./img/deco.svg) no-repeat center;
  width: 130px;
  height: 100px;
  z-index: -1;
  top: -15px;
  left: -40px;
}
.conteudo {
  font-size: 40px;
  justify-self: star;
}
.conteudo p {
  font-size: 1.5rem;
  color: #525252;
}
/*-----------------------Section do site-------------------------*/
.container-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px 20px;
  gap: 100px;
}
h2 {
  font-size: 8rem;
  line-height: 1;
  color: #dbd9d9;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}
strong {
  color: #141414;
}
.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}
.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  position: absolute;
  background: linear-gradient(#b6f829, #67dd0a);
  top: 20px;
  left: -4px;
}
.empresa-ano {
  width: 5rem;
  text-align: right;
  color: #525252;
  font-size: 0.875rem;
  top: 1.37rem;
  left: -100px;
  position: absolute;
}
.empresa-titulo {
  font-weight: 700;
  line-height: 1.1;
  font-size: 1.125rem;
}
.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}
.empresa-habilidades {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: start;
  list-style: none;
}
.empresa-habilidades li {
  background: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  line-height: 1.4;
  font-size: 0.875rem;
}
